.jumbotron {
  background:linear-gradient(to right, #c02425, #f0cb35);
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: rgba(0,0,0,0.3);
  border-color: rgba(0,0,0,0.3);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  transition: .25s all ease-in;
}
.jumbotron .btn-primary:hover {
  background: rgba(0,255,0,0.6);
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo  {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
.input-number-ppap {
    padding: 12px 25px;
    border-radius: 6px;
    border: none;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6) inset;
}
.field_form_ppap{
  padding: 5px;
  margin: 20px;
}
.jumbotron .btn-primary .green{
  background-color: rgba(0,255,0,0.3);
}
