{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>{{ book.data.bookName }}</h1>
    <p>ISBN : {{ book.data.isbn }}</p>
    <p>Stock : {{ book.data.stock }}</p>
    <div class="field_form_ppap">
      <input type="number" class="input-number-ppap" pattern="[0-9]*">
    </div>
    <div class="field_form_ppap">
      <a type="button" class="btn btn-lg btn-primary green" href=""><span class="glyphicon glyphicons-cart-tick"></span>Acheter ce livre</a>
    </div>
  </div>
</div>
{% endblock %}
