{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>{{ json_decode(book)["isbn"] }}</h1>
    <p>All the books available.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/pipic1/booking-service-p2017"><span class="glyphicon glyphicon-download"></span> BookingService on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="row">
    {{ dump(book) }}
  </div>
</div>
{% endblock %}
