{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>All books are diplayed here.</h1>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/pipic1/booking-service-p2017"><span class="glyphicon glyphicon-download"></span> BookingService on GitHub</a>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Titre</th>
        <th>ISBN</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      {% for key,value in books %}
      <tr>
        <td><a href="/book/{{ value.isbn }}">{{ value.bookName }}</a></td>
        <td>{{ value.isbn }}</td>
        <td>{{ value.stock }}@example.com</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
