{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>BookingService</h1>
    <p>No books available.</p>
  </div>
</div>
{% endblock %}
