{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>Projet Cloud 2017</h1>
    <p>This is a PHP client application deployed to Heroku. It consume 3 web service: StockService(heroku), WholeSalerService(Heroku), ShopService(Heroku)</p>
    <a type="button" class="btn btn-lg btn-default" href="http://pierre-pic.me/docs"><span class="glyphicon glyphicon-flash"></span> Check the documentation here </a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/pipic1/client-p2017"><span class="glyphicon glyphicon-download"></span> Client on GitHub</a>
    <a type="button" class="btn btn-lg btn-primary" href="/books">Consulter les livres</a>
  </div>
</div>
<div class="container">
</div>

{% endblock %}
